---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { Picture } from "astro:assets";
import logoImage from "assets/CherryPeak-Secondary-Colour.svg";
import { Icon } from "astro-icon/components";

const menuitems = [
  {
    title: "Services",
    path: "#",
    children: [
      { title: "Google Ads", desc: "",  path: "/services/google-ads" },
      { title: "Social Media", desc: "", path: "/services/social-media" },
      { title: "Programmatic", desc: "", path: "/services/programmatic" },
      { title: "Search Engine Optimisation",desc: "Search Engine Optimisation",  path: "/services/search-engine-optimisation" },
      { title: "Conversion Rate Optimisation",desc: "Conversion Rate Optimisation",  path: "/services/conversion-rate-optimisation" },
      { title: "Content Creation",desc: "",  path: "/services/content-creation" },
    ],
  },
  {
    title: "About Us",
    path: "/about-us",
  },
  // {
  //   title: "Blog",
  //   path: "/blog",
  // },
  {
    title: "Contact Us",
    path: "/contact-us",
  },
];
---

<div class="px-8 fixed z-10 bg-pink w-screen shadow ">
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg" >
          <Picture
          src={logoImage}
          alt="Astronaut in the air"
          widths={[100, 200, 300]}
          height=80
          sizes="(max-width: fit-content) 100vw, fit-content"
          loading="eager"
          format="avif"
          style="max-height: 60px; max-width: fit-content;"
        />
          
        </a>
        <div class="block lg:hidden">
          <!-- <Link href="/contact-us" size="md" block>Contact Us</Link> -->
          <MenuIcon class="w-4 h-4 text-gray-800 ml-8" />
        </div>
      </div>
      <MenuItems class="hidden menu-items w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3 lg:-ml-60">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                      <span> {item.title}</span>
                      {item.badge && (
                        <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
                          New
                        </span>
                      )}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
    <div>
      <div class="cta hidden lg:flex items-center gap-4">
        <Link href="https://calendly.com/naveed-cherrypeak/30min" target="_blank" size="md" class="cta flex items-center" block>
          <Icon class="text-white w-5 h-5 mr-2" name="bx:phone" />
          Book a call
        </Link>
      </div>
    </div>
  </header>
</div>

<style>
  .items {
    /* margin-left: -100px; */
  }
 .menu-items {
  /* margin-right: -20px; */
  span {
    color: #292F36;
    font-size: 1.4rem;
    font-weight: bold;
  }

  a {
    font-size: 1.2rem;
    padding-bottom: 4px;
    /* font-weight: bold; */
  }
 }
 .cta {
    /* color: #292F36; */
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
  }
</style>